@media (min-width: 740px) and (max-width: 1023px) {
  .image {
    width: 45%;
    height: 200px;
  }
  .gallery-inner {
    width: 70%;
    height: 50%;
  }
}
@media (max-width: 739px) {
  .image {
    width: 95%;
    height: 200px;
  }
  .gallery-inner {
    width: 70%;
    height: 40%;
  }
}
